* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Classi generiche */
.circle, .avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 100%;
  position: relative;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.square {
  width: calc(10% - 4px);
  height: 100%;
  background-color: #F3EEEA;
  position: relative;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.emoticon, .micro, .airplane {
  font-size: 18px;
  color: #6B7376;
}

.bell {
  color: #8EDAFC;
  font-size: 18px;
}

.verde {
  background-color: lightgreen;
}

.bianco {
  background-color: #fff;
}

.transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inline_bl {
  display: inline-block;
}

/* Sfondo della pagina */
.sfondo {
  height: 100vh;
}

.green_bar {
  height: calc(100% - 85%);
  background-color: #009688;
  z-index: -1;
}

.grey {
  height: 85%;
  background-color: #DBDBD2 ;
  z-index: -1;
}

/* Schermata principale */
.schermata {
  width: 80vw;
  height: 90vh;
  background-color: #fff;
  position: absolute;
  top: 5vh;
  left: 10vw;
}

/* Sezione sinistra */
.left_side {
  width: 35%;
  height: 100%;
  background-color: blue;
  float: left;
}

.profilo {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  border-right: 1px solid grey;
  padding: 5px 10px;
}

.profilo ul {
  float: right;
}

.profilo ul li {
  display: inline-block;
  list-style: none;
  color: #B1B1B1;
  padding: 5px;
  line-height: 30px;
}

.avviso_notifiche {
  width: 100%;
  height: 70px;
  background-color: #8EDAFC;
  padding: 15px 15px;
}

.cerca_chat {
  width: 100%;
  height: 35px;
  background-color: #FAFAFA;
  padding: 5px;
}

#trova_chat {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 3px;
}

#nome_contatto {
  width: calc(100% - 55px);
  height: 25px;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

.lente {
  color: grey;
}

.lista_chat {
  width: 100%;
  height: calc(100% - 155px);
  background-color: pink;
  overflow-y: scroll;
}

/* PREVIEW CHAT */
.prev_contatto {
  width: 100%;
  height: 60px;
  background-color: #fff;
  padding: 10px 10px;
}

.prev_contatto:hover {
  background-color: #E9EBEB;
}

.nome_contatto {
  width: 250px;
  height: 100%;
  background-color: transparent;
  float: left;
}

.nome_contatto h6 {
  color: #C6C9CA;
}

.ora {
  width: 40px;
  height: 100%;
  background-color: transparent;
  float: left;
}

.ora h6 {
  float: right;
  color: #C6C9CA;
}

/* Sezione destra */
.right_side {
  width: 65%;
  height: 100%;
  background-color: transparent;
  float: left;
}

.info_chat {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  padding: 5px 10px 5px 10px;
}

.info_chat h6 {
  color: darkgrey;
}

.info_chat ul {
  float: right;
}

.info_chat ul li {
  display: inline-block;
  list-style: none;
  color: #B1B1B1;
  padding: 5px;
  line-height: 30px;
}

/* STORIA DEI MESSAGGI INVIATI E ARRIVATI */
.elenco_messaggi {
  width: 100%;
  height: calc(100% - 100px);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
}

.messaggi {
  width: 100%;
  min-height: 50px;
}

.messaggi_arrivati, .messaggi_inviati {
  width: 50%;
  min-height: 100%;
  border: 1px solid blue;
  border-radius: 3px;
  padding: 0 40px 0 20px;
  float: left;
}

/* Layout box messaggio */
.box_messaggio {
  max-width: 100%;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.left {
  float: left;
}

.right {
  float: right;
}

/* Controller della chat */
.controller_chat {
  width: 100%;
  height: 50px;
  background-color: #F3EEEA;
}

/* Input di testo per inviare i messaggi */
#testo {
  width: 80%;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}
