* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Classi generiche */
.circle, .avatar {
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 100%;
  position: relative;
  background-color: #fff;
  vertical-align: middle;
  margin-right: 10px;
  float: left;
}

.square {
  width: calc(10% - 4px);
  height: 100%;
  background-color: #F3EEEA;
  position: relative;
  vertical-align: middle;
}

.hidden {
  display: none;
}

.emoticon, .micro, .airplane {
  font-size: 18px;
  color: #6B7376;
}

.bell {
  color: #8EDAFC;
  font-size: 18px;
}

.verde {
  background-color: lightgreen;
}

.bianco {
  background-color: #fff;
}

.transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.inline_bl {
  display: inline-block;
}

/* Sfondo della pagina */
.sfondo {
  height: 100vh;
}

.green_bar {
  height: calc(100% - 85%);
  background-color: #009688;
  z-index: -1;
}

.grey {
  height: 85%;
  background-color: #DBDBD2 ;
  z-index: -1;
}

.darkgrey {
  background-color: darkgrey;
}


/* Schermata principale */
.schermata {
  width: 80vw;
  height: 90vh;
  background-color: #fff;
  position: absolute;
  top: 5vh;
  left: 10vw;
}

/* Sezione sinistra */
.left_side {
  width: 35%;
  height: 100%;
  background-color: blue;
  float: left;
}

.profilo {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  border-right: 1px solid grey;
  padding: 5px 10px;
}

.profilo ul {
  float: right;
}

.profilo ul li {
  display: inline-block;
  list-style: none;
  color: #B1B1B1;
  padding: 5px;
  line-height: 30px;
}

.avviso_notifiche {
  width: 100%;
  height: 70px;
  background-color: #8EDAFC;
  padding: 15px 15px;
}

.cerca_chat {
  width: 100%;
  height: 35px;
  background-color: #FAFAFA;
  padding: 5px;
}

#trova_chat {
  width: 50px;
  height: 25px;
  border: none;
  border-radius: 3px;
}

#nome_contatto {
  width: calc(100% - 55px);
  height: 25px;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

.lente {
  color: grey;
}

.lista_chat {
  width: 100%;
  height: calc(100% - 155px);
  background-color: #B1B1B1;
  overflow-y: scroll;
}

/* PREVIEW CHAT */
.prev_contatto {
  width: 100%;
  height: 60px;
  background-color: #fff;
  padding: 10px 10px;
}

.prev_contatto:hover {
  background-color: #E9EBEB;
}

.nome_contatto {
  width: 250px;
  height: 100%;
  background-color: transparent;
  float: left;
}

.nome_contatto h6 {
  color: #C6C9CA;
}

.ora {
  width: 40px;
  height: 100%;
  background-color: transparent;
  float: left;
}

.ora h6 {
  float: right;
  color: #C6C9CA;
}

/* Sezione destra */
.right_side {
  width: 65%;
  height: 100%;
  background-color: transparent;
  float: left;
}

.info_chat {
  width: 100%;
  height: 50px;
  background-color: #EAEAEA;
  padding: 5px 10px 5px 10px;
}

.info_chat h6 {
  color: darkgrey;
}

.lista_info_chat {
  float: right;
}

.lista_info_chat li {
  list-style: none;
  color: #B1B1B1;
  padding: 5px;
  line-height: 30px;
}

/* Menu 3 puntini */
.menuChat {
  position: relative;
  cursor: pointer;
}

.menuChat.change {
  width: 150px;
  text-align: left;
}

/*.menuChat:hover .hide_menu {
  visibility: visible;
}*/

.hide_menu.visible {
  visibility: visible;
}

.hide_menu {
  width: 180px;
  position: absolute;
  top: 30px;
  left: 0;
  visibility: hidden;
  z-index: 1;
}

.hide_menu li {
  border: 1px solid grey;
  border-radius: 2px;
  list-style: none;
  padding: 8px 15px;
  background-color: #B1B1B1;
  color: #fff;
}

.hide_menu li:hover {
  background-color: lightgrey;
}

.l1 {
  margin-top: -30px;
}

.l2 {
  margin-top: -50px;
}

.l3 {
  margin-top: -55px;
}

.l4 {
  margin-top: -55px
}

.list {
  display: list-item;
}

/* STORIA DEI MESSAGGI INVIATI E ARRIVATI */
.elenco_messaggi {
  width: 100%;
  height: calc(100% - 100px);
  background-image: url(../img/mine.jpg);
  overflow-y: scroll;
  padding: 0 80px;
  display: none;
  font-family: 'Merriweather', serif;
  font-size: 14px;
}

.active {
  display: block;
}

.messaggi {
  display: flex;
}

/* Layout box messaggio */
.box_messaggio {
  min-width: 80px;
  max-width: 50%;
  padding: 10px 10px 10px 15px;
  border: 1px solid transparent;
  border-radius: 5px;
  list-style: none;
  margin: 0 0 15px 0;
  position: relative;
  display: flex;
  background-color: #fff;
}

.right {
  justify-content: flex-end;
}

.text {
  width: calc(100% - 30px);
}

.ora-chat {
  width: 30px;
  height: 15px;
  font-size: 10px;
  color: #B1B1B1;
  position: absolute;
  bottom: 0;
  right: 0;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  line-height: 20px;
  color: darkgrey;
  visibility: hidden;
  cursor: pointer;
}

.box_messaggio:hover .arrow {
  visibility: visible;
}

/* Menu Messaggio */
.menuMessaggio {
  width: 130px;
  height: 60px;
  border: 1px solid #fff;
  border-radius: 1px;
  background-color: #fff;
  box-shadow: 2px 3px 5px grey;
  position: absolute;
  bottom: -65px;
  left: 0;
  padding: 5px;
  display: none;
}

.menuMessaggio ul li {
  list-style: none;
  padding: 5px 0;
  text-align: center;
  font-family: 'Heebo', sans-serif;
  font-size: 10px;
  cursor: pointer;
}

.menuMessaggio ul li:hover {
  color: grey;
}


/* Controller della chat */
.controller_chat {
  width: 100%;
  height: 50px;
  background-color: #F3EEEA;
}

/* Input di testo per inviare i messaggi */
#testo {
  width: 80%;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #fff;
  border-radius: 5px;
}

/* icone invio messaggio e audio */

.micro, .airplane, .emoticon {
  cursor: pointer;
  transition: 0.3s;
}

.micro:hover {
  color: red;
  font-size: 24px;
}

.airplane:hover {
  color: #1385C6;
  font-size: 24px;
}

.emoticon:hover {
  color: orange;
  font-size: 24px;
}

/* Mappa */
.wrapper-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: grey;
  opacity: 0.9;
  display: none;
}

#map {
  width: 50%;
  height: 50%;
  position: absolute;
  border: 3px solid #B1B1B1;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  z-index: 2;
  background-color: grey;
}

.chiudi {
  width: 60px;
  height: 60px;
  border: 3px solid #fff;
  border-radius: 3px;
  background-color: #B1B1B1;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 46px;
  text-align: center;
  line-height: 60px;
}

.condividi {
  width: 150px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 3px;
  background-color: #B1B1B1;
  position: absolute;
  top: 80%;
  left: 52%;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
}

.annulla {
  width: 150px;
  height: 40px;
  border: 3px solid #fff;
  border-radius: 3px;
  background-color: #B1B1B1;
  position: absolute;
  top: 80%;
  left: 37%;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
}
